#flagstrap-icon {
    display: inline-block;
    width: 16px;
    height: 11px;
    background: url(../images/flags.png) no-repeat;
}
#flagstrap-icon2 {
    display: inline-block;
    width: 16px;
    height: 11px;
    background: url(../images/flags.png) no-repeat;
}

.flagstrap-icon-AD {
    background-position: -16px 0 !important;
}

.flagstrap-icon-AE {
    background-position: -32px 0 !important;
}

.flagstrap-icon-AF {
    background-position: -48px 0 !important;
}

.flagstrap-icon-AG {
    background-position: -64px 0 !important;
}

.flagstrap-icon.flagstrap-AI {
    background-position: -80px 0 !important;
}

.flagstrap-icon-AL {
    background-position: -96px 0 !important;
}

.flagstrap-icon-AM {
    background-position: -112px 0 !important;
}

.flagstrap-icon-AN {
    background-position: -128px 0 !important;
}

.flagstrap-icon-AO {
    background-position: -144px 0 !important;
}

.flagstrap-icon-AR {
    background-position: -160px 0 !important;
}

.flagstrap-icon-AS {
    background-position: -176px 0 !important;
}

.flagstrap-icon-AT {
    background-position: -192px 0 !important;
}

.flagstrap-icon-AU {
    background-position: -208px 0 !important;
}

.flagstrap-icon-AW {
    background-position: -224px 0 !important;
}

.flagstrap-icon-AZ {
    background-position: -240px 0 !important;
}

.flagstrap-icon-BA {
    background-position: 0 -11px !important;
}

.flagstrap-icon-BB {
    background-position: -16px -11px !important;
}

.flagstrap-icon-BD {
    background-position: -32px -11px !important;
}

.flagstrap-icon-BE {
    background-position: -48px -11px !important;
}

.flagstrap-icon-BF {
    background-position: -64px -11px !important;
}

.flagstrap-icon-BG {
    background-position: -80px -11px !important;
}

.lagstrap-icon-BH {
    background-position: -96px -11px !important;
}

.flagstrap-icon-BI {
    background-position: -112px -11px !important;
}

.flagstrap-icon-BJ {
    background-position: -128px -11px !important;
}

.flagstrap-icon-BM {
    background-position: -144px -11px !important;
}

.flagstrap-icon-BN {
    background-position: -160px -11px !important;
} 

.flagstrap-icon-BO {
    background-position: -176px -11px !important;
}

.flagstrap-icon-BR {
    background-position: -192px -11px !important;
}

.flagstrap-icon-BS {
    background-position: -208px -11px !important;
}

.flagstrap-icon-BT { 
    background-position: -224px -11px !important;
}

.flagstrap-icon-BV {
    background-position: -240px -11px !important;
}

.flagstrap-icon-BW {
    background-position: 0 -22px !important;
}

.flagstrap-icon-BY {
    background-position: -16px -22px !important;
}

.flagstrap-icon-BZ {
    background-position: -32px -22px !important;
}

.flagstrap-icon-CA {
    background-position: -48px -22px !important;
}

.flagstrap-icon-catalonia {
    background-position: -64px -22px !important;
}

.flagstrap-icon-CD {
    background-position: -80px -22px !important;
}

.flagstrap-icon-CF {
    background-position: -96px -22px !important;
}

.flagstrap-icon.CG {
    background-position: -112px -22px !important;
}

.flagstrap-icon-CH {
    background-position: -128px -22px !important;
}

.flagstrap-icon-CI {
    background-position: -144px -22px !important;
}

.flagstrap-icon-CK {
    background-position: -160px -22px !important;
}

.flagstrap-icon-CL {
    background-position: -176px -22px !important;
}

.flagstrap-icon-CM {
    background-position: -192px -22px !important;
}

.flagstrap-icon-CN {
    background-position: -208px -22px !important;
}

.flagstrap-icon-CO {
    background-position: -224px -22px !important;
}

.flagstrap-icon-CR {
    background-position: -240px -22px !important;
}

.flagstrap-icon-CU {
    background-position: 0 -33px !important;
}

.flagstrap-icon-CV {
    background-position: -16px -33px !important;
}

.flagstrap-icon-CW {
    background-position: -32px -33px !important;
}

.flagstrap-icon-CY {
    background-position: -48px -33px !important;
}

.flagstrap-icon-CZ {
    background-position: -64px -33px !important;
}

.flagstrap-icon-DE {
    background-position: -80px -33px !important;
}

.flagstrap-icon-DJ {
    background-position: -96px -33px !important;
}

.flagstrap-icon-DK {
    background-position: -112px -33px !important;
}

.flagstrap-icon-DM {
    background-position: -128px -33px !important;
}

.flagstrap-icon-DO {
    background-position: -144px -33px !important;
}

.flagstrap-icon-DZ {
    background-position: -160px -33px !important;
}

.flagstrap-icon-EC {
    background-position: -176px -33px !important;
}
.flagstrap-icon-EE {
    background-position: -192px -33px !important;
}

.flagstrap-icon-EG {
    background-position: -208px -33px !important;
}

.flagstrap-icon-EH {
    background-position: -224px -33px !important;
}

.flagstrap-icon.flagstrap-england {
    background-position: -240px -33px !important;
}

.flagstrap-icon-ER {
    background-position: 0 -44px !important;
}

.flagstrap-icon-ES {
    background-position: -16px -44px !important;
}

.flagstrap-icon-ET {
    background-position: -32px -44px !important;
}

#flagstrap-icon-EU {
    background-position: -48px -44px !important;
}

.flagstrap-icon-FI {
    background-position: -64px -44px !important;
}

.flagstrap-icon-FJ {
    background-position: -80px -44px !important;
}

.flagstrap-icon-FK {
    background-position: -96px -44px !important;
}

.flagstrap-icon-FM {
    background-position: -112px -44px !important;
}

.flagstrap-icon-FO {
    background-position: -128px -44px !important;
}

.flagstrap-icon-FR {
    background-position: -144px -44px !important;
}

.flagstrap-icon-GA {
    background-position: -160px -44px !important;
}

.flagstrap-icon-GB {
    background-position: -176px -44px !important;
}

.flagstrap-icon-GD {
    background-position: -192px -44px !important;
}

.flagstrap-icon-GE {
    background-position: -208px -44px !important;
}

.flagstrap-icon-GF {
    background-position: -224px -44px !important;
}

.flagstrap-icon-GG {
    background-position: -240px -44px !important;
}

.flagstrap-icon-GH {
    background-position: 0 -55px !important;
}

.flagstrap-icon-GI {
    background-position: -16px -55px !important;
}

.flagstrap-icon-GL {
    background-position: -32px -55px !important;
}

.flagstrap-icon-GM {
    background-position: -48px -55px !important;
}

.flagstrap-icon-GN {
    background-position: -64px -55px !important;
}

.flagstrap-icon-GP {
    background-position: -80px -55px !important;
}

.flagstrap-icon-GQ {
    background-position: -96px -55px !important;
}

.flagstrap-icon-GR {
    background-position: -112px -55px !important;
}

.flagstrap-icon-GS {
    background-position: -128px -55px !important;
}

.flagstrap-icon-GT {
    background-position: -144px -55px !important;
}

.flagstrap-icon-GU {
    background-position: -160px -55px !important;
}

.flagstrap-icon-GW {
    background-position: -176px -55px !important;
}

.flagstrap-icon-GY {
    background-position: -192px -55px !important;
}

.flagstrap-icon-HK {
    background-position: -208px -55px !important;
}

.flagstrap-icon-HM {
    background-position: -224px -55px !important;
}

.flagstrap-icon-HN {
    background-position: -240px -55px !important;
}

.flagstrap-icon-HR {
    background-position: 0 -66px !important;
}

.flagstrap-icon-HT {
    background-position: -16px -66px !important;
}

.flagstrap-icon-HU {
    background-position: -32px -66px !important;
}
.flagstrap-icon-IC {
    background-position: -48px -66px !important;
}

.flagstrap-icon-ID {
    background-position: -64px -66px !important;
}

.flagstrap-icon-IE { 
    background-position: -80px -66px !important;
}

.flagstrap-icon-IL {
    background-position: -96px -66px !important;
}

.flagstrap-icon-IM {
    background-position: -112px -66px !important;
}

.flagstrap-icon-IN {
    background-position: -128px -66px !important;
}

.flagstrap-icon-IO {
    background-position: -144px -66px !important;
}

.flagstrap-icon-IQ {
    background-position: -160px -66px !important;
}

.flagstrap-icon-IR {
    background-position: -176px -66px !important;
}

.flagstrap-icon-IS {
    background-position: -192px -66px !important;
}

.flagstrap-icon-IT {
    background-position: -208px -66px !important;
}

.flagstrap-icon-JE {
    background-position: -224px -66px !important;
}

.flagstrap-icon-JM {
    background-position: -240px -66px !important;
}

.flagstrap-icon-JO {
    background-position: 0 -77px !important;
}

.flagstrap-icon-JP {
    background-position: -16px -77px !important;
}

.flagstrap-icon-KE {
    background-position: -32px -77px !important;
}

.flagstrap-icon-KG {
    background-position: -48px -77px !important;
}

.flagstrap-icon-KH {
    background-position: -64px -77px !important;
}
.flagstrap-icon-KI {
    background-position: -80px -77px !important;
}

.flagstrap-icon-KM {
    background-position: -96px -77px !important;
}

.flagstrap-icon-KN {
    background-position: -112px -77px !important;
}

.flagstrap-icon-KP {
    background-position: -128px -77px !important;
}

.flagstrap-icon-KR {
    background-position: -144px -77px !important;
}

.flagstrap-icon.flagstrap-kurdistan {
    background-position: -160px -77px !important;
}

.flagstrap-icon-KW {
    background-position: -176px -77px !important;
}

.flagstrap-icon-KY {
    background-position: -192px -77px !important;
}

.flagstrap-icon-KZ {
    background-position: -208px -77px !important;
}

.flagstrap-icon-LA {
    background-position: -224px -77px !important;
}

.flagstrap-icon-LB {
    background-position: -240px -77px !important;
}

.flagstrap-icon-LC {
    background-position: 0 -88px !important;
}

.flagstrap-icon-LI {
    background-position: -16px -88px !important;
}

.flagstrap-icon-LK {
    background-position: -32px -88px !important;
}

.flagstrap-icon-LR {
    background-position: -48px -88px !important;
}

.flagstrap-icon-LS {
    background-position: -64px -88px !important;
}

.flagstrap-icon-LT {
    background-position: -80px -88px !important;
}

.flagstrap-icon-LU {
    background-position: -96px -88px !important;
}

.flagstrap-icon-LV {
    background-position: -112px -88px !important;
}

.flagstrap-icon-LY {
    background-position: -128px -88px !important;
}

.flagstrap-icon-MA {
    background-position: -144px -88px !important;
}

.flagstrap-icon-MC {
    background-position: -160px -88px !important;
}

.flagstrap-icon-MD {
    background-position: -176px -88px !important;
}

.flagstrap-icon-ME {
    background-position: -192px -88px !important;
}

.flagstrap-icon-MG {
    background-position: -208px -88px !important;
}

.flagstrap-icon-MH {
    background-position: -224px -88px !important;
}

.flagstrap-icon-MK {
    background-position: -240px -88px !important;
}

.flagstrap-icon-ML {
    background-position: 0 -99px !important;
}

.flagstrap-icon-MM {
    background-position: -16px -99px !important;
}

.flagstrap-icon-MN {
    background-position: -32px -99px !important;
}

.flagstrap-icon-MO {
    background-position: -48px -99px !important;
}

.flagstrap-icon-MP {
    background-position: -64px -99px !important;
}

.flagstrap-icon-MQ {
    background-position: -80px -99px !important;
}

.flagstrap-icon-MR {
    background-position: -96px -99px !important;
}

.flagstrap-icon-MS {
    background-position: -112px -99px !important;
}

.flagstrap-icon-MT {
    background-position: -128px -99px !important;
}

.flagstrap-icon-MU {
    background-position: -144px -99px !important;
}

.flagstrap-icon-MV {
    background-position: -160px -99px !important;
}

.flagstrap-icon-MW {
    background-position: -176px -99px !important;
}

.flagstrap-icon-MX {
    background-position: -192px -99px !important;
}

.flagstrap-icon-MY {
    background-position: -208px -99px !important;
}

.flagstrap-icon-MZ {
    background-position: -224px -99px !important;
}

.flagstrap-icon-NA {
    background-position: -240px -99px !important;
}

.flagstrap-icon-NC {
    background-position: 0 -110px !important;
}

.flagstrap-icon-NE {
    background-position: -16px -110px !important;
}

.flagstrap-icon-NF {
    background-position: -32px -110px !important;
}

.flagstrap-icon-NG {
    background-position: -48px -110px !important;
}
.flagstrap-icon-NI {
    background-position: -64px -110px !important;
}

.flagstrap-icon-NL {
    background-position: -80px -110px !important;
}

.flagstrap-icon-NO {
    background-position: -96px -110px !important;
}

.flagstrap-icon-NP {
    background-position: -112px -110px !important;
}

.flagstrap-icon-NR {
    background-position: -128px -110px !important;
}

.flagstrap-icon-NU {
    background-position: -144px -110px !important;
}

.flagstrap-icon-NZ {
    background-position: -160px -110px !important;
}

.flagstrap-icon-OM {
    background-position: -176px -110px !important;
}

.flagstrap-icon-PA {
    background-position: -192px -110px !important;
}

.flagstrap-icon-PE {
    background-position: -208px -110px !important;
}

.flagstrap-icon-PF {
    background-position: -224px -110px !important;
}

.flagstrap-icon-PQ {
    background-position: -240px -110px !important;
}
.flagstrap-icon-PH {
    background-position: 0 -121px !important;
}

.flagstrap-icon-PK {
    background-position: -16px -121px !important;
}

.flagstrap-icon-PL {
    background-position: -32px -121px !important;
}

.flagstrap-icon-PM {
    background-position: -48px -121px !important;
}

.flagstrap-icon-PN {
    background-position: -64px -121px !important;
}

.flagstrap-icon-PR {
    background-position: -80px -121px !important;
}

.flagstrap-icon-PS {
    background-position: -96px -121px !important;
}

.flagstrap-icon-PT {
    background-position: -112px -121px !important;
}

.flagstrap-icon-PW {
    background-position: -128px -121px !important;
}

.flagstrap-icon-PY {
    background-position: -144px -121px !important;
}

.flagstrap-icon-QA {
    background-position: -160px -121px !important;
}

.flagstrap-icon-RE {
    background-position: -176px -121px !important;
}

.flagstrap-icon-RO {
    background-position: -192px -121px !important;
}

.flagstrap-icon.flagstrap-RS {
    background-position: -208px -121px !important;
}

.flagstrap-icon-RU {
    background-position: -224px -121px !important;
}

.flagstrap-icon-RW {
    background-position: -240px -121px !important;
}

.flagstrap-icon-SA {
    background-position: 0 -132px !important;
}

.flagstrap-icon-SB {
    background-position: -16px -132px !important;
}

.flagstrap-icon-SC {
    background-position: -32px -132px !important;
}

.flagstrap-icon.flagstrap-scotland {
    background-position: -48px -132px !important;
}

.flagstrap-icon-SD {
    background-position: -64px -132px !important;
}

.flagstrap-icon-SE {
    background-position: -80px -132px !important;
}

.flagstrap-icon-SG {
    background-position: -96px -132px !important;
}

.flagstrap-icon-SH {
    background-position: -112px -132px !important;
}

.flagstrap-icon-SI {
    background-position: -128px -132px !important;
}

.flagstrap-icon-SK {
    background-position: -144px -132px !important;
}

.flagstrap-icon-SL {
    background-position: -160px -132px !important;
}

.flagstrap-icon-SM {
    background-position: -176px -132px !important;
}

.flagstrap-icon-sn {
    background-position: -192px -132px !important;
}

.flagstrap-icon-SO {
    background-position: -208px -132px !important;
}

.flagstrap-icon.flagstrap-somaliland {
    background-position: -224px -132px !important;
}

.flagstrap-icon-SR {
    background-position: -240px -132px !important;
}

.flagstrap-icon-SS {
    background-position: 0 -143px !important;
}

.flagstrap-icon-ST {
    background-position: -16px -143px !important;
}

.flagstrap-icon-SV {
    background-position: -32px -143px !important;
}

.flagstrap-icon-SX {
    background-position: -48px -143px !important;
}

.flagstrap-icon-SY {
    background-position: -64px -143px !important;
}

.flagstrap-icon-SZ {
    background-position: -80px -143px !important;
}

.flagstrap-icon-TC {
    background-position: -96px -143px !important;
}

.flagstrap-icon-TD {
    background-position: -112px -143px !important;
}

.flagstrap-icon-TF {
    background-position: -128px -143px !important;
}

.flagstrap-icon-TG {
    background-position: -144px -143px !important;
}

.flagstrap-icon-TH {
    background-position: -160px -143px !important;
}

.flagstrap-icon-TJ {
    background-position: -176px -143px !important;
}

.flagstrap-icon-TK {
    background-position: -192px -143px !important;
}

.flagstrap-icon-TL {
    background-position: -208px -143px !important;
}

.flagstrap-icon-TM {
    background-position: -224px -143px !important;
}

.flagstrap-icon-TN {
    background-position: -240px -143px !important;
}

.flagstrap-icon-TO {
    background-position: 0 -154px !important;
}

.flagstrap-icon-TR {
    background-position: -16px -154px !important;
}

.flagstrap-icon-TT {
    background-position: -32px -154px !important;
}

.flagstrap-icon-TV {
    background-position: -48px -154px !important;
}

.flagstrap-icon-TW {
    background-position: -64px -154px !important;
}

.flagstrap-icon-TZ {
    background-position: -80px -154px !important;
}

.flagstrap-icon-UA {
    background-position: -96px -154px !important;
}

.flagstrap-icon-UG {
    background-position: -112px -154px !important;
}

.flagstrap-icon-UM {
    background-position: -128px -154px !important;
}

.flagstrap-icon-US {
    background-position: -144px -154px !important;
}

.flagstrap-icon-UY {
    background-position: -160px -154px !important;
}

.flagstrap-icon-UZ {
    background-position: -176px -154px !important;
}

.flagstrap-icon-VA {
    background-position: -192px -154px !important;
}

.flagstrap-icon-VC {
    background-position: -208px -154px !important;
}

.flagstrap-icon-VE {
    background-position: -224px -154px !important;
}

.flagstrap-icon-VG {
    background-position: -240px -154px !important;
}

.flagstrap-icon-VI {
    background-position: 0 -165px !important;
}

.flagstrap-icon-VN {
    background-position: -16px -165px !important;
}

.flagstrap-icon-VU {
    background-position: -32px -165px !important;
}

.flagstrap-icon.flagstrap-wales {
    background-position: -48px -165px !important;
}

.flagstrap-icon-WF {
    background-position: -64px -165px !important;
}

.flagstrap-icon-WS {
    background-position: -80px -165px !important;
}

.flagstrap-icon-YE {
    background-position: -96px -165px !important;
}

.flagstrap-icon-YT {
    background-position: -112px -165px !important;
}

.flagstrap-icon-ZA {
    background-position: -128px -165px !important;
}

.flagstrap-icon.flagstrap-zanzibar {
    background-position: -144px -165px !important;
}

.flagstrap-icon-ZM {
    background-position: -160px -165px !important;
}

.flagstrap-icon-ZW {
    background-position: -176px -165px !important;
}
